instagram-import-structured-parser.json
{
  "name": "Instagram Import - Structured Parser",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Agendamento",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "IG User",
        "operation": "Get Media",
        "node": "me",
        "limit": 25
      },
      "id": "instagram-user-media",
      "name": "Instagram - Meus Posts",
      "type": "@mookielianhd/n8n-nodes-instagram.Instagram",
      "typeVersion": 1.0,
      "position": [
        460,
        300
      ],
      "credentials": {
        "instagramOAuth2Api": {
          "id": "COLOCAR_ID_CREDENTIAL",
          "name": "Instagram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Estruturar os dados do Instagram para formato padronizado\nconst items = $input.all();\nconst structuredData = [];\n\nfor (const item of items) {\n  const media = item.json;\n  \n  // Extrair informações do owner\n  const owner = media.owner || {};\n  \n  // Estrutura padronizada\n  const structured = {\n    post_id: media.id,\n    url_post: media.permalink,\n    url_imagem: media.media_url,\n    legenda: media.caption || '',\n    tipo_conteudo: media.media_type,\n    data_publicacao: media.timestamp,\n    conta_origem: owner.username || 'unknown',\n    nome_perfil: owner.full_name || '',\n    metricas: {\n      likes: media.like_count || 0,\n      comentarios: media.comments_count || 0\n    },\n    midia: {\n      tipo: media.media_type,\n      url: media.media_url,\n      thumbnail: media.thumbnail_url\n    },\n    metadata: {\n      timestamp_captura: new Date().toISOString(),\n      fonte: 'instagram_graph_api',\n      versao_parser: '1.0'\n    }\n  };\n  \n  structuredData.push(structured);\n}\n\nreturn structuredData.map(item => ({ json: item }));"
      },
      "id": "structured-parser",
      "name": "Structured Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches",
      "name": "Dividir em Lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO instagram_posts (post_id, url_post, url_imagem, legenda, tipo_conteudo, data_publicacao, conta_origem, nome_perfil) VALUES ($1, $2, $3, $4, $5, $6, $7, $8) ON CONFLICT (post_id) DO UPDATE SET url_post = EXCLUDED.url_post, url_imagem = EXCLUDED.url_imagem, legenda = EXCLUDED.legenda, tipo_conteudo = EXCLUDED.tipo_conteudo, data_publicacao = EXCLUDED.data_publicacao, conta_origem = EXCLUDED.conta_origem, nome_perfil = EXCLUDED.nome_perfil;",
        "mappingMode": "defineBelow",
        "mappingValues": {
          "values": [
            {
              "name": "post_id",
              "value": "={{ $json.post_id }}"
            },
            {
              "name": "url_post",
              "value": "={{ $json.url_post }}"
            },
            {
              "name": "url_imagem",
              "value": "={{ $json.url_imagem }}"
            },
            {
              "name": "legenda",
              "value": "={{ $json.legenda }}"
            },
            {
              "name": "tipo_conteudo",
              "value": "={{ $json.tipo_conteudo }}"
            },
            {
              "name": "data_publicacao",
              "value": "={{ $json.data_publicacao }}"
            },
            {
              "name": "conta_origem",
              "value": "={{ $json.conta_origem }}"
            },
            {
              "name": "nome_perfil",
              "value": "={{ $json.nome_perfil }}"
            }
          ]
        }
      },
      "id": "postgres-upsert",
      "name": "PostgreSQL - UPSERT",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "nNWOoSo66DYfDpAF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "gemini-embeddings",
      "name": "Gemini - Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "eJJhTvSw2avKW11x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE instagram_posts SET embedding = $1 WHERE post_id = $2;",
        "mappingMode": "defineBelow",
        "mappingValues": {
          "values": [
            {
              "name": "embedding",
              "value": "={{ $json.embedding }}"
            },
            {
              "name": "post_id",
              "value": "={{ $('PostgreSQL - UPSERT').item.json.post_id }}"
            }
          ]
        }
      },
      "id": "postgres-update-embedding",
      "name": "PostgreSQL - Atualizar Embedding",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "nNWOoSo66DYfDpAF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Agendamento": {
      "main": [
        [
          {
            "node": "Instagram - Meus Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram - Meus Posts": {
      "main": [
        [
          {
            "node": "Structured Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Parser": {
      "main": [
        [
          {
            "node": "Dividir em Lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir em Lotes": {
      "main": [
        [
          {
            "node": "PostgreSQL - UPSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - UPSERT": {
      "main": [
        [
          {
            "node": "Gemini - Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Embeddings": {
      "main": [
        [
          {
            "node": "PostgreSQL - Atualizar Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "instagram-structured-parser",
  "tags": []
}
